In [2]:
import pandas as pd
bid_ask = pd.read_csv("Bid_ask.csv")

trades = pd.read_csv("Trades.csv")

In [5]:
T1 = 1
T2 = 6

In [19]:
bid_ask

            timestamp_gmt  bid_size     bid     ask  ask_size
0     2020-04-28 00:00:09    101450  7800.5  7801.0      5100
1     2020-04-28 00:00:19     39270  7801.5  7802.0     41620
2     2020-04-28 00:00:29    118010  7802.0  7802.5     45310
3     2020-04-28 00:00:39        90  7801.0  7802.0        20
4     2020-04-28 00:00:49        20  7787.5  7788.5        30
...                   ...       ...     ...     ...       ...
5538  2020-04-28 15:24:29     37170  7711.0  7711.5      2980
5539  2020-04-28 15:24:39     51990  7711.5  7712.0      2980
5540  2020-04-28 15:24:49     17990  7711.5  7712.5      4700
5541  2020-04-28 15:24:59     51790  7712.0  7712.5      4680
5542  2020-04-28 15:25:09     19700  7712.0  7712.5      2980

[5543 rows x 5 columns]

In [20]:
trades

     trade_num        timestamp_gmt side  volume   price    commission
0      1621378  2020-04-28 00:00:09  BOT      20  7799.5  1.090000e-06
1      1621381  2020-04-28 00:00:50  BOT      20  7788.5  1.090000e-06
2      1621382  2020-04-28 00:00:50  BOT      10  7788.5  5.500000e-07
3      1621383  2020-04-28 00:00:50  BOT     150  7791.5  8.180000e-06
4      1621384  2020-04-28 00:00:50  BOT    1920  7792.0  1.047200e-04
..         ...                  ...  ...     ...     ...           ...
476    1623994  2020-04-28 15:12:39  BOT    1700  7706.0  9.376000e-05
477    1623995  2020-04-28 15:12:39  BOT    1000  7707.5  5.514000e-05
478    1623996  2020-04-28 15:12:39  BOT    1000  7708.0  5.514000e-05
479    1623997  2020-04-28 15:12:39  BOT      10  7708.0  5.500000e-07
480    1623998  2020-04-28 15:12:39  BOT    2070  7708.0  1.141400e-04

[481 rows x 6 columns]

In [42]:
def convert_timestamp_to_seconds(time):
    lst = list(map(int, time[-9:].split(':')))
    return lst[0] * 3600 + lst[1] * 60 + lst[2]

def delta_quality(x: int):
    total_vol = 0
    num = 0
    for time, side, vol, price in zip(trades["timestamp_gmt"], trades["side"], trades["volume"], trades["price"]):
        t = convert_timestamp_to_seconds(time)
        total_vol += vol
        
        ptx = 0
        for ts, p in zip(bid_ask["timestamp_gmt"], bid_ask["ask"]):
            i = convert_timestamp_to_seconds(ts)
            if i >= t + x:
                ptx = p
                break
        st = 1 if side == "BOT" else 0
        num += ((ptx - price) / price) * st * vol

    num /= total_vol
    num *= 100
    print(f"{num}%")
    return num

In [45]:
delta_quality(60)
delta_quality(10)

-0.0026755046936264813%
-0.0062591512750279675%

In [21]:
# def convert_timestamp_to_seconds(time):
#     lst = list(map(int, time[-9:].split(':')))
#     return lst[0] * 3600 + lst[1] * 60 + lst[2]

# for time in trades["timestamp_gmt"]:
#     # print(convert_timestamp_to_seconds(time))
#     total_vol = 0
#     numerator = 0
#     for time2, side, vol, price in zip(trades["timestamp_gmt"], trades["side"], trades["volume"], trades["price"]):
#         t1, t2 = convert_timestamp_to_seconds(time), convert_timestamp_to_seconds(time2)
#         if t2 - t1 > 10:
#             time = time2
#             break
#         total_vol += vol

KeyboardInterrupt: